
footer
  #left
    p Download our VPN client:
    #images
      img(src="./img/windows.svg")
      img(src="./img/apple.svg")
      img(src="./img/android.svg")
    #links
      a FAQ
      a Affiliates
      a Refund policy
      a Terms of use
      a Privacy policy
  
  #right
    p Contact Us
    small sales@ourwebsite.org
    #social
      img(src="./img/facebook-logo.svg")
      img(src="./img/twitter-logo.svg")
    #login
      img(src="./img/login-brown.svg")
      p LOGIN
    p Copyright © 2015#[br]Anonymous VPN LTD.