header: #gradient-bg: .g2: .container
  #login-floater
    img(src="./img/login.svg")
    p LOGIN#[span /REGISTER]

  include ./navbar

  #headers
    h1 THESE ARE WORDS
    h1.display-small SOME WORDS
    h4 AWESOME

  #mascot
    img(src="./img/mascot.png")